*.log

# Virtual environments
venv/
.venv/
wandb/
checkpoints/
logs/
scripts/*
!scripts/queue_run.sh
!scripts/sigma_enqueue.sh

# uv
uv.lock

# Datasets
data/

__pycache__/
*.pyc
*.egg-info/
dist/
build/
